.section-item
  display: flex
  align-items: center
  width: 100%
  margin-bottom: 8px
  padding: 10px 0 10px 8px
  background-color: #f2f2f2
  border-radius: 2px;
  border: solid 1px #cdd2d2
  &.unranked
    padding: 17px 0 17px 28px
  .icon-wrapper
    width: 104px
    height: 104px
    margin-right: 8px
    &.unranked
      width: 64px
      height: 64px
      margin-right: 28px
    img
      width: 100%
  .info-wrapper
    .title
      font-size: 11px
      color: #879292
    .lp-wrapper
      font-size: 12px
      color: #879292
      .bold
        font-weight: bold
        color: #555e5e
    .position-wrapper
      font-size: 12px
      color: #353a3a
      .bold
        font-weight: bold
    .tier-wrapper
      font-weight: bold
      font-size: 15px
      color: #1f8ecd
    .unranked-text
      font-size: 13px
      font-weight: bold
      color: #879292