
.tooltip-wrapper
  position: relative
  .tooltip
    opacity: 1
    font-size: 12px
    color: white
    padding: 8px
    background-color: black
    border-radius: 4px
    z-index: 100 
    position: absolute
    left: 50%
    top: calc(100% + 14px)
    transform: translateX(-50%)
    white-space: nowrap
    .triangle
      position: absolute
      bottom: 100%
      left: 50%
      transform: translate(-50%)
      width: 0
      height: 0
      border-bottom: 6px solid black
      border-right: 4px solid transparent
      border-left: 4px solid transparent

     
