.top-wrapper
  height: 200px
  padding: 15px 0 12px 13%
  border-bottom: 1px solid #d8d8d8
  .previous-tiers-wrapper
    display: flex
    margin-bottom: 20px
    .tier-item
      width: auto
      height: 20px;
      margin: 0 0 0 7px;
      padding: 4px 5px 3px;
      border-radius: 2px;
      display: flex
      justify-content: center
      align-items: center
      border: solid 1px #d0d3d4;
      background-color: #e0e3e3;
      font-family: Helvetica
      font-size: 11px
      color: #657070
      .season
        font-weight: bold
        margin-right: 2px
  .info-wrapper
    display: flex
    margin-bottom: 17px
    .image-wrapper
      width: 120px
      height: 120px
      margin-right: 37px
      position: relative;
      img
        width: 100%
      .border-image-wrapper
        position: absolute
        top: -12px;
        left: -10px;
        width: 140px;
      .level-wrapper
        width: 44px;
        height: 24px;
        position: absolute;
        bottom: -10px;
        left: 37px;
        font-family: Helvetica
        font-size: 14px
        text-align: center
        color: #eabd56
        background-image: url('https://s-lol-web.op.gg/static/images/site/summoner/bg-levelbox.png')
    .name-wrapper
      .name
        color: #242929
        font-weight: bold
        font-size: 20px
      .rank-text
        font-size: 11px
        color: #657070
        &.strong
          font-weight: bold