.header-wrapper
  display: flex
  height: 97px
  background-color: #1ea1f7
  padding: 53px 261px 12px 179px
  .input-wrapper
    position: relative
    margin-left: auto
    width: 260px
    height: 32px
    input
      width: 100%
      font-size: 12px
      border-radius: 2px
      border: none !important
      padding: 9px 40px 8px 14px
    .icon-wrapper
      position: absolute
      color: #1ea1f7
      font-size: 19px
      font-weight: bold
      right: 5px
      top: 3px
    .search-result, .recent-list
      position: absolute
      top: 36px
      right: 0px
      width: 100%
      background: rgb(255, 255, 255)
      box-shadow: rgb(0 0 0 / 50%) 0px 2px 4px 0px
      overflow: hidden
    .search-result
      .search-item
        width: 100%
        display: flex
        cursor: pointer
        padding: 5px 0 5px 20px
        &:hover
          background-color: #b0ceea
        .user-icon-wrapper
          display: flex
          align-items: center
          justify-content: center
          margin-right: 12px
          img
            width: 36px
            height: 36px
            border-radius: 50%
        .user-level-wrapper
          font-size: 12px
    .recent-list
      min-height: 220px
      .recent-list-nav
        display: flex
        .nav-item
          display: flex
          justify-content: center
          align-items: center
          width: 50%
          height: 40px
          font-size: 14px
          color: rgb(156, 156, 156)
          background-color: rgb(227, 227, 227)
          &.active
            color: rgb(74, 74, 74)
            background-color: rgb(255, 255, 255)
      .recent-item
        display: flex
        width: inherit
        -webkit-box-align: center
        align-items: center
        padding: 8px 16px
        box-sizing: border-box
        cursor: pointer
        &:hover
          background-color: #b0ceea

